@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /*   Breakpoints */
  --breakpoint-xs: 23.438rem; /* 375px */
  --breakpoint-m: 48rem; /* 768px */
  --breakpoint-1xl: 56.25rem; /* 900px */
  --breakpoint-2xl: 75rem; /* 1200px */
  --breakpoint-3xl: 93.75rem; /* 1500px */

  /*  Colors */
  --color-primary: hsl(38, 98%, 55%);
  --color-secondary: hsl(40, 85%, 45%);
  --color-accent: hsl(39, 100%, 76%);
  --color-warning: hsl(19, 91%, 49%);
  --color-dark: hsl(0, 0%, 17%);
}

@layer base {
  html {
    font-family: "Fredoka", sans-serif;
    letter-spacing: 0.1em;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  .latest {
    i {
      @apply text-[2rem] cursor-pointer text-primary hover:scale-120 hover:text-primary/80 transition-all;
    }
    p {
      @apply text-[2rem] text-white;
    }
  }
}
